:root {
  --main-bg-color: #FFFFFF;
  --main-text-color:#212121;
  --blue: #2196F3;
  --white: #ffffff;
  --iconcolor: #afb1b8;
  --black: #000000;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin:0;
  padding:0;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
}
.header {
  background-color: var(--white);
  height: 80px;
  width: 1600px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 93px;
  border-bottom: 1px solid #ececec;
}
.header-wrapper {
  display: flex;
  align-items: center; 
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap:46px;
  line-height: 1.2;
  padding: 0;
  margin-left: 93px;
}
.navigation-links-position {
  padding: 0 auto;
}
.title-background {
  background-color: #2F303A;
  height: 600px;
  width: 1600px;
  padding: 200px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.webstudio-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.webstudio-logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}
.without-underline {
  text-decoration: none;
}
.blue-text {
  color: var(--blue);
}
.nav-links {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-links:hover,
.nav-links:focus {
  color: var(--blue);
  text-decoration: none;
  
}
.nav-links:focus {
  color: var(--blue);
  transition: 250ms;
}
.contacts {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover {
  color: var(--blue);
  fill: var(--blue);
  text-decoration: none;
  }
.contacts:focus {
  color: var(--blue);
  
}
.nav-contacts {
  margin-left: 250px;
  gap: 50px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF99;
  text-decoration: none;
  padding: 0;
}
footer {
  background-color: #2F303A;
  height: 252px;
  margin: auto;
  padding: 60px 0 0 0;
}

.contacts-list {
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  gap: 9px;
}
h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
h2 {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
}
.what-we-do {
  margin-top: 94px;
}

.button-service-ordering {
  background-color: var(--blue);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white);
  
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px 41px 10px 42px;
}

h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
}
h5 {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 18px;
  line-height: 2;
}
.profession {
  font-size:16px;
  line-height: 1.19;
  color: #757575;
  margin: 0 0 30px 0;
}
.description {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.portfolio-type {
  font-family: 'Roboto';
  font-size: 16px;
  Line-height: 1.87;
  margin:0 0 0 24px;
}

.portfolio-button {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  border: 0em;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: var(--main-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover {
  
  border: var(--blue) solid;
  border-radius: 4px;
  text-decoration: underline;
  text-decoration-color: var(--blue);
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12)
}
.no-dots-list{
  list-style: none;
  padding-left: 0;
}

.short-descriptions {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
} 
.team-header {
  padding-top: 94px;
}
.services {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}
.team-container {
  background-color: #F5F4FA;
  
  width: 1600px;
  margin: auto;
}
.team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.team-card {
  background-color: var(--white);
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-card-name {
  margin: 30px 0 10px 0;
}
.row-of-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}
.services-offer  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  flex-basis: calc((100% - 6px) / 3);
}
.service-card {
  width: 370px;
  height: 404px;
  border: #EEEEEE solid 1px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-card:hover {
  flex-basis: calc((100% - 90px) / 4);
  margin: 0;
  display: block;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.product-header {
  margin: 20px 0 4px 24px;
}
.picture {
  width: 1600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.with-bg {
  background-color: #2F303A70;
}
.with-picture {
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), 
    url('../images/image-background.png');
    
}
.header-icon {
  margin-right: 10px;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon:hover{
  fill: var(--blue);
  cursor: pointer;
  
}
.icons-descriptions:hover {
  fill: var(--blue);
  transition: 250ms;
}
.box-icons-descriptions {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-icons-descriptions:hover,
.box-icons-descriptions:focus {
  border: solid var(--blue);
  fill: var(--blue);
}
.icon-descriptions:hover {
  fill: var(--blue) solid;
  
}

.clients-container {
  width: 1600px;
  margin: auto;
}
.client-symbols {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 94px;
}
.icon-our-clients {
  border-radius: 4px;
  border: #AFB1B8 solid 1px;
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-our-clients:hover {
  fill: var(--blue);
  border: var(--blue) solid 1px;
}
.social-media-team {
  margin-bottom: 30px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.social-media-icon {
  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icon:hover,
.social-media-icon-footer:hover {
  fill: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}
.footer-container {
  flex-direction: row;
  display: flex;
  color: var(--white);
}
.social-media-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: 70px;
}
.social-media-icon-footer {
  fill: var(--white);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF1A;
}
.footer-media-symbols {
  display: flex;
  gap: 10px;
  margin-left: 70px;
  list-style: none;
  padding: 0;
}
.footer-media {
  display:flex;
  flex-direction: column;
  color: var(--white);
  padding-left: 70px;
  padding-top: 0;
}
.footer-join-us {
  color: var(--white);
  margin: 0 auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: #2196F3E6;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  transform: translateY(100%);
}
.overlay > p {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
}
.image-overlay {
  position: relative;
  overflow: hidden;
}
.image-overlay:hover .overlay {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0px;
  color: var(--white);
  background-color: #2F303Aee;
}

.picture-with-label {
  position: relative;
}
.current-page-link {
  position: relative;
}
.current-page-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transform: translateY(28px);
  border-radius: 2px;
  pointer-events: none;
  cursor: unset;
}
/* ---------- modal window----------- */

.backdrop {
  background-color: #00000033;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}
.modal-window {
  background-color: var(--white);
  position: relative;
  margin: auto;
  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 1, 3, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 3s linear;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border:rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal-window {
  transform: scale(0);
  transition: opacity 300ms linear, visibility 600ms linear;
}
